﻿@{
    ViewBag.Title = "Home Page";
}

<br />

<div class="jumbotron text-center">
    <h3><i>Aplicatie pentru gestiunea medicamentelor din farmacie</i></h3>
    <br />
    <br />
    <a class="btn btn-primary" href="/medicamente" style="font-size: 32px">Start</a>
    <br />
    <br />
    <h3 class="text-right"><i>Ciurea Adrian</i></h3>
</div>