﻿@model ProiectDaW.Models.medicamente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>medicamente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantitate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantitate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pret_bucata)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pret_bucata)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.producatori.denumire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.producatori.denumire)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
